html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

vellum-doc {
  --index-width: 250px;
}

vellum-doc::part(index) {
  padding-right: 1em;
  padding-left: 1em;
  border-right: 2px solid black;
}

vellum-doc::part(index-h1) {
  margin-top: 12rem;
  font-size: 1.4em;
  text-transform: uppercase;
}

vellum-doc::part(index-h2) {
  font-size: 1.3em;
}

vellum-doc::part(index-h3) {
  font-size: 1em;
}

vellum-doc::part(index-h4) {
  font-size: 0.8em;
}

section#document {
  padding-left: 5em;
  padding-right: 5em;
}

section#document > section {
  width: 100%;
}

section#document > section:has(h4:first-child) {
  width: 47%;
}

@media (max-width: 750px) {
  section#document > section:has(h4:first-child) {
    width: 100%;
  }
}
